{% extends 'pizza/base.html' %}
{% load staticfiles %}
{% block body_block %}
<section class="menu__cards">
    <h2 class="header" style="margin-bottom: 0">What do you have a taste for today? </h2>
    <div class="cards__row">
        <a href="{% url 'pizza_order' %}"><div class="card" style="background: url({% static 'pizza/images/pizza.jpg' %}); background-size:cover;"></div></a>
        <a href="{% url 'sub_order' %}"><div class="card" style="background: url({% static 'pizza/images/sub.jpg' %}); background-size:cover;"></div></a>
        <a href="{% url 'pasta_order' %}"><div class="card" style="background: url({% static 'pizza/images/pasta.jpg' %}); background-size:cover;"></div></a>
    </div>
    <div class="cards__row">
        <a href="{% url 'salad_order' %}"><div class="card" style="background: url({% static 'pizza/images/salad.jpg' %}); background-size:cover;"></div></a>
        <a href="{% url 'dinner_order' %}"><div class="card" style="background: url({% static 'pizza/images/dinner.jpg' %}); background-size:cover;"></div></a>
    </div>


</section>
{% endblock %}