{% extends 'pizza/base.html' %}

{% block body_block %}

<section class="form__content form__login">
    <h2 class="header">Login here</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
        </div>

        <input class="btn btn-primary" type="submit" value="Login" >
        <div class="next_to_login_text">
            <small>Don't have an account? Register <a href="{% url 'registration' %}" style="color:white">here</a></small>
        </div>
        <input type="hidden" name="next" value="{{ next }}">

    </form>
    {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
    {% endif %}
</section>

{% endblock%}